global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "/etc/prometheus/alerts.yml"

scrape_configs:
  - job_name: "payguard-backend"
    metrics_path: /api/v1/metrics
    scheme: http
    static_configs:
      - targets: ["backend:8002"]
        labels:
          service: backend

  - job_name: "payguard-enterprise"
    metrics_path: /api/metrics
    scheme: http
    static_configs:
      - targets: ["enterprise:8003"]
        labels:
          service: enterprise

  - job_name: "nginx"
    metrics_path: /stub_status
    scheme: http
    static_configs:
      - targets: ["nginx:8080"]
        labels:
          service: nginx

  - job_name: "redis"
    static_configs:
      - targets: ["redis-exporter:9121"]
        labels:
          service: redis
